<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.caption">
      <th mat-header-cell *matHeaderCellDef> {{ column.caption }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column.field] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons
                 (page)="onPageChanged($event)"
                 [length]="totalRows">
  </mat-paginator>
</div>
